<a href="https://colab.research.google.com/github/elisangelawut/DS-ProjetoFinal/blob/main/ProjetoFinalDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#importando a biblioteca do pandas
import pandas as pd

#localizando os dados que será trabalhado e tratado
dataset = r'/content/sample_data/fashion.csv'
produtos = pd.read_csv(dataset)

#identificando as colunas que contem no arquivo e trazendo os 5 primeiros dados
produtos.head()

,ProductId,Gender,Category,SubCategory,ProductType,Colour,Usage,ProductTitle,Image,ImageURL
0,42419,Girls,Apparel,Topwear,Tops,White,Casual,Gini and Jony Girls Knit White Top,42419.jpg,http://assets.myntassets.com/v1/images/style/p...
1,34009,Girls,Apparel,Topwear,Tops,Black,Casual,Gini and Jony Girls Black Top,34009.jpg,http://assets.myntassets.com/v1/images/style/p...
2,40143,Girls,Apparel,Topwear,Tops,Blue,Casual,Gini and Jony Girls Pretty Blossom Blue Top,40143.jpg,http://assets.myntassets.com/v1/images/style/p...
3,23623,Girls,Apparel,Topwear,Tops,Pink,Casual,Doodle Kids Girls Pink I love Shopping Top,23623.jpg,http://assets.myntassets.com/v1/images/style/p...
4,47154,Girls,Apparel,Bottomwear,Capris,Black,Casual,Gini and Jony Girls Black Capris,47154.jpg,http://assets.myntassets.com/v1/images/style/p...

In [8]:
#Saber a categoria das colunas e a quantidade de colunas
produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906 entries, 0 to 2905
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductId     2906 non-null   int64
 1   Gender        2906 non-null   object
 2   Category      2906 non-null   object
 3   SubCategory   2906 non-null   object
 4   ProductType   2906 non-null   object
 5   Colour        2906 non-null   object
 6   Usage         2906 non-null   object
 7   ProductTitle  2906 non-null   object
 8   Image         2906 non-null   object
 9   ImageURL      2906 non-null   object
dtypes: int64(1), object(9)
memory usage: 227.2+ KB

In [9]:
#Quais gêneros e quantidade deles são apresentados na coluna Gender
produtos['Gender'].value_counts()

Gender
Men      811
Women    769
Boys     759
Girls    567
Name: count, dtype: int64

In [26]:
##Quais categorias e SubCategorias são apresentadas juntas:
produtos[['Category', 'SubCategory']].sort_values(by=['Category', 'SubCategory'])

      Category  SubCategory
244    Apparel  Apparel Set
318    Apparel  Apparel Set
341    Apparel  Apparel Set
703    Apparel  Apparel Set
762    Apparel  Apparel Set
...        ...          ...
2901  Footwear        Shoes
2902  Footwear        Shoes
2903  Footwear        Shoes
2904  Footwear        Shoes
2905  Footwear        Shoes

[2906 rows x 2 columns]

In [27]:
#Quais categorias e quantidade são apresentados na coluna Category
produtos['Category'].value_counts()

Category
Footwear    1580
Apparel     1326
Name: count, dtype: int64

In [11]:
#Quais SubCategorias e quantidades são apresentados na coluna SubCategory
produtos['SubCategory'].value_counts()

SubCategory
Shoes          1306
Topwear         977
Bottomwear      242
Flip Flops      150
Sandal          124
Dress            74
Socks            12
Apparel Set      12
Innerwear         9
Name: count, dtype: int64

# Nova secção

In [32]:
#Quais tipos de produtos e quantidades são apresentados na coluna ProductType
produtos.ProductType.value_counts()

ProductType
Tshirts            637
Casual Shoes       403
Heels              348
Sports Shoes       341
Tops               229
Flip Flops         150
Flats              138
Sandals            107
Shorts              91
Shirts              79
Formal Shoes        76
Dresses             74
Capris              46
Jeans               44
Skirts              24
Leggings            24
Sports Sandals      17
Booties             12
Rompers             12
Innerwear Vests      9
Clothing Set         8
Trousers             7
Jackets              6
Kurtas               5
Salwar               5
Kurta Sets           4
Waistcoat            3
Sweatshirts          3
Lehenga Choli        2
Churidar             1
Blazers              1
Name: count, dtype: int64

In [31]:
#Quais cores e quantidades são apresentados na coluna Colour
produtos.Colour.value_counts()

Colour
Black             578
White             513
Blue              338
Brown             220
Red               185
Pink              184
Green             143
Yellow            127
Grey              127
Navy Blue         108
Purple             51
Beige              51
Silver             44
Gold               37
Orange             31
Maroon             22
Olive              18
Multi              17
Magenta            15
Tan                14
Peach              12
Off White          10
Khaki              10
Bronze              7
Copper              5
Charcoal            5
Cream               5
Turquoise Blue      5
Lavender            5
Teal                4
Mushroom Brown      3
Taupe               3
Metallic            3
Grey Melange        1
Rust                1
Lime Green          1
Sea Green           1
Mustard             1
Nude                1
Name: count, dtype: int64

In [33]:
#Quais uso e quantidades são apresentados na coluna Usage
produtos.Usage.value_counts()

Usage
Casual          2447
Sports           357
Formal            83
Ethnic            17
Smart Casual       1
Party              1
Name: count, dtype: int64